#btn1{
	background-image: url("img/Abrigo.png");
}
#btn2{
	background-image: url("img/Almidon.png");
}
#btn3{
	background-image: url("img/Blusa.png");
}
#btn4{
	background-image: url("img/Camisa.png");
}
#btn5{
	background-image: url("img/Capa.png");
}
#btn6{
	background-image: url("img/Chaleco.png");
}
#btn7{
	background-image: url("img/ChamarraPiel.png");
}
#btn8{
	background-image: url("img/ChamarraPluma.png");
}
#btn9{
	background-image: url("img/Colcha.png");
}
#btn10{
	background-image: url("img/Corbata.png");
}
#btn11{
	background-image: url("img/Cortina.png");
}
#btn12{
	background-image: url("img/Edredon.png");
}
#btn13{
	background-image: url("img/Falda.png");
}
#btn14{
	background-image: url("img/Gabardina.png");
}
#btn15{
	background-image: url("img/Kilogramo.png");
}
#btn16{
	background-image: url("img/Lavado.png");
}
#btn17{
	background-image: url("img/Mantel.png");
}
#btn18{
	background-image: url("img/Otros.png");
}
#btn19{
	background-image: url("img/Pantalon.png");
}
#btn20{
	background-image: url("img/PlanchadoNormal.png");
}
#btn21{
	background-image: url("img/PlanchadoVapor.png");
}
#btn22{
	background-image: url("img/Sacos.png");
}
#btn23{
	background-image: url("img/Sweater.png");
}
#btn24{
	background-image: url("img/Trajes.png");
}
#btn25{
	background-image: url("img/VestidoCorto.png");
}
#btn26{
	background-image: url("img/VestidoLargo.png");
}
#btn27{
	background-image: url("img/Abrigo.png");
}
#btn28{
	background-image: url("img/Abrigo.png");
}
#btn29{
	background-image: url("img/Abrigo.png");
}
#btn30{
	background-image: url("img/Abrigo.png");
}
#btn31{
	background-image: url("img/Gancho.png");
}